<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="nav-bar-margin">
<% include ./nav/logged_in_nav %>
<% include ./nav/head %>
</div>
<div class="container" id="body-div">
<h1><p>Welcome to Music Serve.</p></h1>
<p><h2><small>Listen to what you want, when you want to hear it!!</small></h2></p>
</div>
</body>
</html>