#nav-bar-margin{
	padding-bottom: 20px;
	margin-bottom: 50px;
}

#body-div{
	margin-top: 50px;
}
.img-50{
	width: 50px;
	height: auto;
	padding-right: 20px;
}
.music-margin{
	margin-left: 50px;
}
body{
	margin-left: 40px;
	margin-right: 40px;
}
#song-size{
	font-size: 70px;
	margin-left: -20px;
	padding-bottom: 30px;
}
#cool-boom{
	width: 600px;
	height: auto;
}